*{
    margin: 0px;
}

/*Open Sans CSS Start*/
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*Open Sans CSS End*/

/*common elements css Start*/
.common-paragraph{
    font-size: 18px;
    color: #757575;
    margin-top: 15px;
    margin-bottom: 15px;
}
.common-button{
    font-size: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 25px;
    border: none;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25);
    margin: 10px 5px 15px 5px;
}
.color-dark1{
    color:#181818;
}
.color-dark2{
    color: #474747;
}
.color-dark3{
    color: #757575;
}
.sections-common-title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
}
/*common element css End*/

/*Header css Start*/
.header{
    background-color: #FFF8F3;
}

/*Nav css Start*/
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-title{
    font-size: 45px;
    font-weight: 800;
    margin: 50px 150px;
}
nav h3 .title-text-color{
    color: #FD6E0A;
}
nav ul{
    display: inline-flex;
    align-items: center;
    margin: 50px 150px;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
}
/*Nav css End*/

/*Header Banner css Start*/
.header{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.header-banner{
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    margin-top: 150px;
    width: 40%;
}
header .greetings{
    font-size: 45px;
    font-weight: 700;
}
header .name-title{
    font-size: 85px;

}
.hardy-image{
    width: 550px;
    height: 650px;
}
/*Header Banner css End*/
/*Header css End*/

/*Main Section css Start*/
/*About Me css Start*/
.about-section{
    background-color: #FFF8F3;
    margin: auto;
    width: 65%;
    text-align: center;
    padding: 130px;
    margin-top: 100px;
}
.about-me-title{
    margin-top: 5px;
    margin-bottom: 15px;
}
.about-me{
    background-color: #ffffff;
}
.about-items{
    display: inline-block;
    margin: 15px 22px 1px 22px;
}
.item-title{
    font-size: 20px;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}
/*About Me css End*/

/* skills section css start */
.my-skills{
    width: 65%;
    margin: auto;
}
.skills-title-des{
    margin: 50px 50px 15px 50px;
    text-align: center;
}
.skill-items{
    display: flex;
    align-items: left;
}
.skills{
    width: 25%;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills img{
    padding-top: 10px;
    padding-bottom: 10px;
}
.skill-title{
    padding-bottom: 10px;
}
.skill-description{
    padding-top: 10px;
}
/* skills section css end */

/* resume section css start */
.resume-summary{
    width: 65%;
    margin: 0 auto;
}
.resume-container{
    display: flex;
}
.resume-summary-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 70px;
}
.edu-experience{
    width: 50%;
    margin-right: 20px;
}
.eduexp-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.eduexp-column{
    margin: 15px 20px 10px 0px;
}
.edu-exp-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.edu-exp-subtitle{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.edu-exp-description{
    color: #757575;
    font-size: 16px;
    padding-right: 15px;
}
.cv-button{
    text-align: center;
    margin-top: 20px;
}
/* resume section css end */

/* footer section css start */
.footer{
    background-color: #FFF8F3;
    display: flex;
    padding: 130px 230px;
    gap: 100px;
    margin-top: 70px;
}
.footer-column{
    display: block;
    width: 50%;
}
.fcolumn-title{
    font-size: 35px;
    font-weight: 700;
}
.fcolumn-text{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-social a{
    padding: 5px;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #757575;
    background-color: #ffffff;
    height: 60px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}
/* footer section css end */